@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --main-color: #ffa500;
  --other-color: #ffffff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--main-color);
  color: var(--other-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0 1.5rem 0;
}
.heading span {
  font-size: 3.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: var(--main-color);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  width: 10rem;
  color: var(--main-color);
}
header .navbar a {
  color: var(--other-color);
  font-size: 2rem;
  margin: 0 1.9rem;
}

h4 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
  font-size: large;
}

header .navbar a:hover {
  color: var(--main-color);
}

/* Home section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border: 3px dashed #000;
}

.home .content p {
  font-size: 2.5rem;
  color: var(--other-color);
  padding: 0.5rem 0;
}
.home .home-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}
.home .home-img img {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--main-color);
  color: var(--other-color);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--main-color);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  background: var(--other-color);
  color: #000;
}

/* courses section */
.courses .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.courses .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 3rem;
  text-align: center;
  margin: 2rem;
}
.courses .box-container .box h3 {
  font-size: 2.5rem;
  color: black;
}
.courses .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.courses .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.campuses .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.campuses .box-container .box {
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  height: 40rem;
  position: relative;
}
.campuses .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.campuses .box-container .box .content {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}
.campuses .box-container .box:hover .content {
  top: 0;
}
.campuses .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--main-color);
}
.campuses .box-container .box .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
}

.facilities .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.facilities .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.facilities .box-container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.facilities .box-container .box .content {
  padding: 2rem;
}
.facilities .box-container .box .content h3 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.facilities .box-container .box .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.stud-review{
    display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.review .box h3 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}
.review .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.review .box .stars i {
  color: var(--main-color);
  font-size: 1.7rem;
}


.disp {
    min-height: 10vh;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  .disp .content {
    text-align: center;
  }
  .disp .content p {
    font-size: 2.5rem;
    color: var(--other-color);
    padding: 0.5rem 0;
  }
  .disp .disp-img {
    position: absolute;
    top: 0;
    left: 25vw;
    z-index: -1;
    object-fit: cover;
  }
  .disp .disp-img img {
    width: 50vw;
    height: 25vh;
    opacity: 0.9;
  }
  .footer{
    background: rgb(0, 0, 0);
  }
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 4rem 0;
    color: #fff;
  }
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
  }
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
  }
  .footer .box-container .box a:hover{
    color: var(--main-color);
    text-decoration: underline;
  }
  .footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  .footer .credit span{
    color: var(--main-color);
  }


  
  /* About page */
  .about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }
  .about .row .image{
    flex: 1 1 35rem;
  }
  .about .row .image img{
    width: 100%;
  }
  .about .row .right-side{
    flex: 1 1 50rem;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about .row h3{
      font-size: 3rem;
  }
  .about .row p{
      font-size: 1.5rem;
  }
  .my{
    margin: 1rem;
  }
  




  /* ------- contact css----- */
  .book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .book .row .image{
    flex:1 1 40rem;
  }
  
  .book .row .image img{
    width:75%;
  }
  
  .book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  .book .row form:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.5);;
  }
  

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: var(--other-color);
    color: var(--main-color);
    border: 2px solid #000;
  }
  
  /* Add a background color and some padding around the form */
  .contact-form {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(238, 80, 80, 0.466);
    gap: 1.5rem;
    border-radius: 5px;
    padding: 20px;
  }




  /* Blogs css */
  .blog-right .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }
  .blog-right .row .image{
    flex: 1 1 35rem;
  }
  .blog-right .row .image img{
    width: 100%;
  
  }
  .blog-right .row .right-side{
    flex: 0 1 50rem;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog-right .row h3{
    text-align: center;
      font-size: 2rem;
      background: var(--main-color);
      color: var(--other-color);
      width: 100%;
      margin:1rem;
      padding: 1rem;
  }
  .blog-right .row .parts{
      font-size: 1.5rem;
      padding:0 1rem;
      margin: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  
  .discription{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }
  .discription h2{
    font-size: 3rem;
    max-width: 50%;
  }
  .discription p{
    max-width: 50%;
    font-size: 1rem;
  }
